<div class="list">

  
  <label class="item item-input item-stacked-label">
    <span class="input-label">updated_at</span>
    <input type="text" ng-model="brewery['updated_at']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">created_at</span>
    <input type="text" ng-model="brewery['created_at']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">__loc</span>
    <input type="text" ng-model="brewery['__loc']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">name</span>
    <input type="text" ng-model="brewery['name']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">publisher</span>
    <input type="text" ng-model="brewery['publisher']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">tags</span>
    <input type="text" ng-model="brewery['tags']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">updated_by</span>
    <input type="text" ng-model="brewery['updated_by']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">created_by</span>
    <input type="text" ng-model="brewery['created_by']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">app_user_object_uid</span>
    <input type="text" ng-model="brewery['app_user_object_uid']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">published</span>
    <input type="text" ng-model="brewery['published']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">uid</span>
    <input type="text" ng-model="brewery['uid']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">_version</span>
    <input type="text" ng-model="brewery['_version']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">ACL</span>
    <input type="text" ng-model="brewery['ACL']">
  </label>
  

  <br>

  <button class="button button-block button-positive">Save</button>

</div>
