<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Brewery Index
    </super-navbar-title>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <ul class="list" ng-hide="brewerys.length == 0">

      <super-navigate location="brewery#show" data-params-id="{{ brewery.id }}" ng-repeat="brewery in brewerys">
        <li class="item item-icon-right">
          <span ng-bind="brewery['updated_at']"></span>
          <i class="icon super-ios7-arrow-right"></i>
        </li>
      </super-navigate>

    </ul>

    <h4 ng-show="brewerys.length == 0" class="assertive padding">
      No brewerys found. Create one?
    </h4>

    <super-modal-show location="brewery#new">
      <button class="button button-full button-positive">
        Create a new brewery
      </button>
    </super-modal-show>
  </div>
</div>
