  <div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Show
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      <h2 ng-bind="brewery['updated_at']"></h2>
      
      
      
       <p>created_at: <span ng-bind="brewery['created_at']"></span></p> 
      
       <p>__loc: <span ng-bind="brewery['__loc']"></span></p> 
      
       <p>name: <span ng-bind="brewery['name']"></span></p> 
      
       <p>publisher: <span ng-bind="brewery['publisher']"></span></p> 
      
       <p>tags: <span ng-bind="brewery['tags']"></span></p> 
      
       <p>updated_by: <span ng-bind="brewery['updated_by']"></span></p> 
      
       <p>created_by: <span ng-bind="brewery['created_by']"></span></p> 
      
       <p>app_user_object_uid: <span ng-bind="brewery['app_user_object_uid']"></span></p> 
      
       <p>published: <span ng-bind="brewery['published']"></span></p> 
      
       <p>uid: <span ng-bind="brewery['uid']"></span></p> 
      
       <p>_version: <span ng-bind="brewery['_version']"></span></p> 
      
       <p>ACL: <span ng-bind="brewery['ACL']"></span></p> 
      


      <super-modal-show location="brewery#edit?id={{ brewery.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(brewery.id)" class="button button-block button-negative">
        Remove
      </button>
    </div>
  </div>
</div>
